
DB_HOST=localhost
DB_PORT=5432
DB_NAME=qff2026_dev
DB_USER=postgres
DB_PASSWORD=balu0647

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=quantum.apsche@cutmap.ac.in
MAIL_PASSWORD=gvjanxbmvqiwabky
MAIL_FROM=quantum.apsche@cutmap.ac.in
MAIL_FROM_NAME=Qiskit Fall Fest 2026

EVENT_TIMEZONE=Asia/Kolkata
EVENT_REMINDER_TIME=07:00
REMINDER_PROCESSOR_TOKEN=YOUR_PRIVATE_RANDOM_TOKEN

PUBLIC_API_URL=http://localhost:5000